<h1><%= t('register_student') %></h1>

<% if Confession.first.blank? %>
    <p><%= t('no_religion') %><</p>
<% elsif Tribe.first.blank? %>
    <p><%= t('no_tribe') %></p>
<% else %>
    <%= render 'form' %>
<% end %>

<!--


t.string   "forename"
    t.string   "surname"
    t.integer  "sex"
    t.date     "birth_date"
    t.string   "birth_place"
    t.integer  "confession_id"
    t.integer  "tribe_id"
    t.integer  "father_id"
    t.integer  "mother_id"
    t.integer  "guardian_id"
    t.string   "address"
    t.datetime "archived_at"
    t.string   "archiving_reason"
    t.datetime "created_at",       null: false
    t.datetime "updated_at",       null: false
    t.index ["confession_id"], name: "index_students_on_confession_id", using: :btree
    t.index ["tribe_id"], name: "index_students_on_tribe_id", using: :btree
  f.text_area :body, size: "60x12"
-->
