<div class="jumbotron">
  <h1>Ecole St. Jean-Baptiste Des Sourds-Muets</h1>
  <p>Tutaj trzeba coś wypełnić. Np. powitanie albo krótkie info jak uzywać stronki.</p>
  <p>Można kilka linijek tekstu wpisać</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">I dać jakiś ważny link &raquo;</a>
  </p>
</div>

